*{
    padding: 0;
    margin: 0;
    direction: rtl;
}


@font-face {
    font-family: 'Yekan';
    src: url('../fonts/Yekan.eot') format('eot'),
    url('../fonts/Yekan.woff') format('woff'),
    url('../fonts/Yekan.ttf') format('ttf');
}


@font-face {
    font-family: 'Sahel-Bold';
    src: url('../fonts/Sahel-Bold.eot') format('eot'),
    url('../fonts/Sahel-Bold.woff') format('woff'),
    url('../fonts/Sahel-Bold.ttf') format('ttf');
}



.image-intro{
    position: relative;
    height: 515px;
}



.image{
    position: absolute;
}



@media (max-width: 454px){
    .font-category{
        font-size: 17px !important;
    }
}



.box-ax-category{
    width: 130px;
    min-height: 120px;
    background-color: transparent;
    margin: auto;
    border-radius: 15px;
}




.box-categories{
    width: 100%;
    background-image: url("../img/background-category.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}



@media (max-width: 454px){
    .box-ax-category{
        width: 100%;
    }
}