*{
    padding: 0;
    margin: 0;
    direction: rtl;
}


@font-face {
    font-family: 'Yekan';
    src: url('../fonts/Yekan.eot') format('eot'),
    url('../fonts/Yekan.woff') format('woff'),
    url('../fonts/Yekan.ttf') format('ttf');
}


@font-face {
    font-family: 'Sahel-Bold';
    src: url('../fonts/Sahel-Bold.eot') format('eot'),
    url('../fonts/Sahel-Bold.woff') format('woff'),
    url('../fonts/Sahel-Bold.ttf') format('ttf');
}


body{
    background-color: #070e1c;
}



.image-intro{
    position: relative;
    height: 515px;
}



.image{
    position: absolute;
}



.search{
    height: 35px;
    position: relative;
}


.input{
    width: 0;
    height: 40px;
    background-color: transparent;
    border: none;
    padding-right: 50px;
    font-size: 16px;
    font-family: yekan;
    outline: none;
    transition: width 1s ease;
}



.docme{
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.search.active input {
    width: 300px;
    background-color: red;
    margin-left: 20px;
    border-radius: 5px;
}


.search.active .zarebin{
    margin-top: 0;
    margin-right: 25px;
}



.zarebin{
    margin-top: -4px;
}



@media (max-width: 454px){
    .font-category{
        font-size: 17px !important;
    }
}



.box-ax-category{
    width: 130px;
    min-height: 120px;
    background-color: transparent;
    margin: auto;
    border-radius: 15px;
}




.box-categories{
    width: 100%;
    background-image: url("../img/background-category.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}



@media (max-width: 454px){
    .box-ax-category{
        width: 100%;
    }
}





.box-bestSellers{
    width: 98%;
    min-height: 150px;
    background-color: transparent;
    margin: auto;
}



.box-forush{
    width: 32%;
    height: 130px;
    background-color: #1c2235;
    margin-top: 13px;
    float: right;
    margin-right: 11px;
    border-radius: 10px;
}



.ax-game{
    width: 130px;
    height: 130px;
    background-color: white;
    float: right;
    border-radius: 10px;
}



.title-game{
    width: 230px;
    padding: 1px 0;
    background-color: transparent;
    float: right;
    margin-right: 10px;
    margin-top: 11px;
    font-size: 16px;
    font-family: Yekan;
    color: white;
}



.box-price{
    width: 230px;
    height: 30px;
    background-color: transparent;
    float: right;
    margin-right: 10px;
    margin-top: 13px;
    color: white;
}



.price-game{
    width: 100px;
    padding: 2px 0;
    background-color: transparent;
    float: right;
    font-size: 15px;
    font-family: Yekan;
    text-decoration: line-through;
}


.discount-game{
    width: 100px;
    padding: 2px 0;
    background-color: transparent;
    float: right;
    margin-right: 10px;
    font-size: 15px;
    font-family: Yekan;
    color: white;
}



.name-system{
    width: 230px;
    padding: 1px 0;
    background-color: transparent;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-family: Yekan;
    color: white;
}





@media (max-width: 454px){
    .box-bestSellers{
        width: 100%;
        min-height: 650px;
        background-color: transparent;
        margin: auto;
    }


    .box-forush{
        width: 100%;
        min-height: 130px;
        background-color: #1c2235;
        float: none;
        margin: auto;
        margin-top: 5px;
        border-radius: 10px;
    }



    .ax-game{
        width: 33%;
        min-height: 130px;
        background-color: white;
        float: right;
        border-radius: 10px;
    }


    .title-game{
        width: 60%;
        padding: 1px 0;
        background-color: transparent;
        float: right;
        margin-right: 10px;
        margin-top: 11px;
        font-size: 16px;
        font-family: Yekan;
    }


    .box-price{
        width: 60%;
        min-height: 30px;
        background-color: transparent;
        float: right;
        margin-right: 10px;
        margin-top: 13px;
    }



    .price-game{
        width: 45%;
        padding: 2px 0;
        background-color: transparent;
        float: right;
        font-size: 13px;
        font-family: Yekan;
        text-decoration: line-through;
    }


    .discount-game{
        width: 45%;
        padding: 2px 0;
        background-color: transparent;
        float: right;
        margin-right: 10px;
        font-size: 13px;
        font-family: Yekan;
    }



    .name-system{
        width: 60%;
        padding: 1px 0;
        background-color: transparent;
        float: right;
        margin-right: 10px;
        margin-top: 10px;
        font-size: 14px;
        font-family: Yekan;
    }

}




@media (min-width: 455px) and (max-width: 700px){
    .box-bestSellers{
        width: 100%;
        min-height: 650px;
        background-color: transparent;
        margin: auto;
    }


    .box-forush{
        width: 100%;
        min-height: 130px;
        background-color: #1c2235;
        float: none;
        margin: auto;
        margin-top: 5px;
        border-radius: 10px;
    }



    .ax-game{
        width: 25%;
        min-height: 130px;
        background-color: white;
        float: right;
        border-radius: 10px;
    }


    .title-game{
        width: 60%;
        padding: 1px 0;
        background-color: transparent;
        float: right;
        margin-right: 10px;
        margin-top: 11px;
        font-size: 16px;
        font-family: Yekan;
    }


    .box-price{
        width: 60%;
        min-height: 30px;
        background-color: transparent;
        float: right;
        margin-right: 10px;
        margin-top: 13px;
    }



    .price-game{
        width: 45%;
        padding: 2px 0;
        background-color: transparent;
        float: right;
        font-size: 13px;
        font-family: Yekan;
        text-decoration: line-through;
    }


    .discount-game{
        width: 45%;
        padding: 2px 0;
        background-color: transparent;
        float: right;
        margin-right: 10px;
        font-size: 13px;
        font-family: Yekan;
    }



    .name-system{
        width: 60%;
        padding: 1px 0;
        background-color: transparent;
        float: right;
        margin-right: 10px;
        margin-top: 10px;
        font-size: 14px;
        font-family: Yekan;
    }
}





@media (min-width: 701px) and (max-width: 900px){
    .box-bestSellers{
        width: 100%;
        min-height: 650px;
        background-color: transparent;
        margin: auto;
    }


    .box-forush{
        width: 100%;
        min-height: 130px;
        background-color: #1c2235;
        float: none;
        margin: auto;
        margin-top: 5px;
        border-radius: 10px;
    }



    .ax-game{
        width: 25%;
        min-height: 130px;
        background-color: white;
        float: right;
        border-radius: 10px;
    }


    .title-game{
        width: 60%;
        padding: 1px 0;
        background-color: transparent;
        float: right;
        margin-right: 10px;
        margin-top: 11px;
        font-size: 16px;
        font-family: Yekan;
    }


    .box-price{
        width: 60%;
        min-height: 30px;
        background-color: transparent;
        float: right;
        margin-right: 10px;
        margin-top: 13px;
    }



    .price-game{
        width: 45%;
        padding: 2px 0;
        background-color: transparent;
        float: right;
        font-size: 13px;
        font-family: Yekan;
        text-decoration: line-through;
    }


    .discount-game{
        width: 45%;
        padding: 2px 0;
        background-color: transparent;
        float: right;
        margin-right: 10px;
        font-size: 13px;
        font-family: Yekan;
    }



    .name-system{
        width: 60%;
        padding: 1px 0;
        background-color: transparent;
        float: right;
        margin-right: 10px;
        margin-top: 10px;
        font-size: 14px;
        font-family: Yekan;
    }
}





@media (min-width: 901px) and (max-width: 1230px){
    .box-bestSellers{
        width: 100%;
        min-height: 650px;
        background-color: transparent;
        margin: auto;
    }


    .box-forush{
        width: 100%;
        min-height: 130px;
        background-color: #1c2235;
        float: none;
        margin: auto;
        margin-top: 5px;
        border-radius: 10px;
    }



    .ax-game{
        width: 18%;
        min-height: 130px;
        background-color: white;
        float: right;
        border-radius: 10px;
    }


    .title-game{
        width: 60%;
        padding: 1px 0;
        background-color: transparent;
        float: right;
        margin-right: 10px;
        margin-top: 11px;
        font-size: 16px;
        font-family: Yekan;
    }


    .box-price{
        width: 60%;
        min-height: 30px;
        background-color: transparent;
        float: right;
        margin-right: 10px;
        margin-top: 13px;
    }



    .price-game{
        width: 45%;
        padding: 2px 0;
        background-color: transparent;
        float: right;
        font-size: 13px;
        font-family: Yekan;
        text-decoration: line-through;
    }


    .discount-game{
        width: 45%;
        padding: 2px 0;
        background-color: transparent;
        float: right;
        margin-right: 10px;
        font-size: 13px;
        font-family: Yekan;
    }



    .name-system{
        width: 60%;
        padding: 1px 0;
        background-color: transparent;
        float: right;
        margin-right: 10px;
        margin-top: 10px;
        font-size: 14px;
        font-family: Yekan;
    }
}

